main {
  width: 100vw;
}
.btnBox {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size:3rem;
}